{{- if .Values.database.postgresql.enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "attstore.postgresql.fullname" . }}
  labels:
    {{- include "attstore.postgresql.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "attstore.postgresql.fullname" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "attstore.postgresql.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "attstore.postgresql.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: postgresql
        image: "{{ .Values.database.postgresql.image.repository }}:{{ .Values.database.postgresql.image.tag }}"
        imagePullPolicy: {{ .Values.database.postgresql.image.pullPolicy }}
        ports:
        - name: postgresql
          containerPort: 5432
          protocol: TCP
        envFrom:
        - secretRef:
            name: {{ include "attstore.postgresql.fullname" . }}
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - exec pg_isready -U {{ .Values.database.postgresql.username | quote }} -d {{ .Values.database.postgresql.database | quote }} -h 127.0.0.1 -p 5432
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - exec pg_isready -U {{ .Values.database.postgresql.username | quote }} -d {{ .Values.database.postgresql.database | quote }} -h 127.0.0.1 -p 5432
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        resources:
          {{- toYaml .Values.database.postgresql.resources | nindent 12 }}
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
          subPath: postgres
  {{- if .Values.database.postgresql.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        {{- include "attstore.postgresql.labels" . | nindent 8 }}
    spec:
      accessModes:
        - {{ .Values.database.postgresql.persistence.accessMode }}
      {{- if .Values.database.postgresql.persistence.storageClass }}
      storageClassName: {{ .Values.database.postgresql.persistence.storageClass | quote }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.database.postgresql.persistence.size }}
  {{- else }}
      volumes:
      - name: data
        emptyDir: {}
  {{- end }}
{{- end }}
