apiVersion: v1
kind: Secret
metadata:
  name: {{ include "attstore.fullname" . }}
  labels:
    {{- include "attstore.labels" . | nindent 4 }}
type: Opaque
stringData:
  SESSION_SECRET: {{ include "attstore.sessionSecret" . | quote }}
  JWT_SECRET_KEY: {{ include "attstore.jwtSecret" . | quote }}
  DEFAULT_ADMIN_PASSWORD: {{ .Values.config.admin.password | quote }}
  DATABASE_URL: {{ include "attstore.databaseUrl" . | quote }}
  {{- if eq .Values.storage.type "CLOUD_STORAGE" }}
  {{- if eq .Values.storage.cloudStorage.provider "AWS" }}
  {{- if .Values.storage.cloudStorage.aws.accessKeyId }}
  AWS_ACCESS_KEY_ID: {{ .Values.storage.cloudStorage.aws.accessKeyId | quote }}
  {{- end }}
  {{- if .Values.storage.cloudStorage.aws.secretAccessKey }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.storage.cloudStorage.aws.secretAccessKey | quote }}
  {{- end }}
  {{- if .Values.storage.cloudStorage.aws.sessionToken }}
  AWS_SESSION_TOKEN: {{ .Values.storage.cloudStorage.aws.sessionToken | quote }}
  {{- end }}
  {{- else if eq .Values.storage.cloudStorage.provider "MINIO" }}
  {{- if .Values.storage.cloudStorage.minio.accessKey }}
  MINIO_ACCESS_KEY: {{ .Values.storage.cloudStorage.minio.accessKey | quote }}
  {{- end }}
  {{- if .Values.storage.cloudStorage.minio.secretKey }}
  MINIO_SECRET_KEY: {{ .Values.storage.cloudStorage.minio.secretKey | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Values.database.externalDatabase.enabled }}
  {{- if .Values.database.externalDatabase.password }}
  POSTGRES_PASSWORD: {{ .Values.database.externalDatabase.password | quote }}
  {{- end }}
  {{- end }}
